---
---

@import "{{ site.theme }}";

.wrapper {
  width:95%;
  padding-bottom:25px;
  
  // left side is 270
  // 1200-270 = 930
  // 30px free room
  //margin:0 auto;
}

section {
  width:75%;
  float:right;
  padding-bottom:50px;
  padding-left:25px;
  padding-top:10px;
}

.logo {
  display: inline-block;
  line-height: 0;
  max-height: 4rem;
  @include flexbox;
  @include align-items(center);
  img {
    max-height: 5rem;
  }
}
